.carousel-multi { overflow: hidden;}
.carousel-multi .carousel-item div {background: #e1e1e1 none repeat scroll 0 0; text-align: center;}
.carousel-multi .carousel-item img {max-width: 100%;}
@media (max-width: 767px) {
    .carousel-multi .carousel-inner .active.left { left: -100%; }
    .carousel-multi .carousel-inner .next        { left:  100%; }
    .carousel-multi .carousel-inner .prev		 { left: -100%; }
    .carousel-multi .active > div { display:none; }
    .carousel-multi .active > div:first-child { display:block; }

}
@media (min-width: 767px) and (max-width: 992px ) {
    .carousel-multi .carousel-inner .active.left { left: -50%; }
    .carousel-multi .carousel-inner .next        { left:  50%; }
    .carousel-multi .carousel-inner .prev		 { left: -50%; }
    .carousel-multi .active > div { display:none; }
    .carousel-multi .active > div:first-child { display:block; }
    .carousel-multi .active > div:first-child + div { display:block; }
    .carousel-multi .carousel-control 			 { width:  4%; }
    .carousel-multi .carousel-item div {padding: 3px; }
}
@media (min-width: 992px ) {
    .carousel-multi .active.left { left: -25%; }
    .carousel-multi .next        { left:  25%; }
    .carousel-multi .prev		 { left: -25%; }
    .carousel-multi .carousel-control 			 { width:  4%; }
    .carousel-multi .carousel-item div {padding: 3px; }
}
