.imgContainer {
    display:inline-block;
    position:relative;
}
.imgContainer .imgToShow {
    position:relative;
}
.imgContainer .imgToShow[src=''] {
    display: none;
}

.imgContainer .manageImg {
    background-color: #808080;
    height: 25px;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
}

.imgContainer .manageImg .rotateRight {
    cursor: pointer;
    z-index:99999;
    float: left;
    font-size: 15px;
    height: 20px;
    margin-top:4px;
    margin-left: 3px;
    width: 20px;
    color:#FFF;
}

.imgContainer .manageImg .rotateLeft {
    cursor: pointer;
    z-index:99999;
    float: left;
    font-size: 15px;
    height: 20px;
    margin-top:4px;
    margin-left: 5px;
    width: 20px;
    color:#FFF;

}



.imgContainer .manageImg .newImg {
    cursor: pointer;
    z-index:99999;
    float: left;
    position:relative;
    height: 20px;
    margin-top:3px;
    margin-left: 3px;
    width: 20px;
    font-size: 15px;
    color:#FFF;
    overflow:hidden;

}

.imgContainer .manageImg .newImg *{cursor: pointer;}
.imgContainer .manageImg .changeImg {
    cursor: pointer;
    z-index:99999;
    float: right;
    position:relative;
    height: 20px;
    margin-top:3px;
    margin-right: 3px;
    width: 20px;
    font-size: 15px;
    color:#FFF;

}

.imgContainer .manageImg .removeImg {
    cursor: pointer;
    z-index:99999;
    float: right;
    font-size: 15px;
    height: 20px;
    margin-top:3px;
    margin-right: 1px;
    width: 20px;
    color:#F00;

}


.imgContainer .removeImgSelect {
    position:absolute;
    bottom:2px;
    right:2px;
}