#webEditorListObject { height: 400px; overflow-y: auto;}

.webEditorBigContainer {
    margin-top: 10px;
}

.webEditorBigContainerPreview {
    margin-top: 10px;
}
/*
.webEditorBigContainer .kwebobject {
    position:relative;
    padding-top:30px;

}

.webEditorBigContainer .kwebobject .kwebobject {
    position: relative;
    padding-top:0px;

}
*/
.webEditorBigContainer .kwebobject .btnEditWebObject,
.webEditorBigContainer .kwebobject .btnAddWebObject,
.webEditorBigContainer .kwebobject .btnDeleteWebObject,
.webEditorBigContainer .kwebobject .btnMoveUpWebObject,
.webEditorBigContainer .kwebobject .btnMoveDownWebObject
{
    margin-right: 2px;
}


.webEditorBigContainer .webEditorIsContainer {
    border: 1px dashed #999;
    padding-top: 35px;
}
.webEditorBigContainer .kwebobject[data-iscontainer="0"] {
    display: inline-block;
    width: 100%;
}
.webEditorBigContainer .webEditorContainerButtons ,
.webEditorBigContainer .webEditorObjectButtons{
    height: auto;
    padding-left: 20px;
}

.webEditorBigContainer .webEditorObjectName{
    font-size: 9px;
    color: white;
    background-color: gray;
    height: 19px;
    line-height: 19px;
    border: 1px solid transparent;
    border-radius: 2px;
    font-weight: normal;
    margin: 0;
    vertical-align: middle;
    padding: 0 .3rem 0 .3rem;
}

.webEditorBigContainer .btnWebObject{
    padding: .1rem .2rem;
    font-size: 10px;
    height: 18px;
}

.webEditorBigContainerPreview .webEditorContainerButtons,
.webEditorBigContainerPreview .webEditorObjectButtons,
.webEditorBigContainerPreview .webEditorObjectName,
.webEditorBigContainerPreview .webEditorCustomization /*used from developers for hide on preview*/
{
    display: none;
}

.modal{ z-index: 99999; overflow-y: inherit !important; }
.mce-menu {z-index: 100000 !important;}
.mce-container {z-index: 100000 !important;}
.mce-textbox {z-index: 100000 !important;}

#webEditorHead {
    height: 50px;
    padding: 10px 0px 0px 10px;
    background: gold;
    border-bottom: 1px solid #7a7a7a;
}

#webEditorHead div {font-size: 15px;}
#webEditorHead .webEditorWebName{float: left; text-transform: uppercase; font-weight: bold; margin-right: 20px; color: brown; }
#webEditorHead .webEditorWebNameSep{float: left; text-transform: uppercase;  font-weight: bold; margin-right: 20px; color: brown;}
#webEditorHead .webEditorWebTplName{float: left; text-transform: uppercase;  font-weight: bold; color: brown;}
