#loginCard {text-align: center;}
#loginCard #rowOldWayLabel {margin: 10px 0px 10px 0px; color:#0066a6 ;}
#loginCard #rowSessionNotExpire label {color: #777;}

/* Facebook */
.btnWithFB {

    text-align: center;
    background: #3b589e url("images/icoFB.jpg");
    background-repeat: no-repeat no-repeat;
    background-origin: initial;
    background-position: 0 50%;
    border-color: #133783;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    padding: 9px 10px 10px 40px;
    text-shadow: 0 -1px 0 #8d8d8d;

}