body {
    width: 100%;
    overflow: hidden;

}

#fbToolbar {

}
#fbColFolder {
    width: 150px;
    margin-left: 10px;
    float: left;
    clear: both;
    position: absolute;
    left: 0px;
    height: 448px;
    padding: 10px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000;
    text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;
}

#fbFolder {
    background: #f0f0f0 url(images/folderopensmall.png) no-repeat 5px 5px;
    padding: 3px 0 5px 25px;
    font-size: 13px;

}

#fbColFolder .fbFolderItem {
    background: url(images/folder_orange_small.png) no-repeat;
    padding-left: 20px;
}

#fbColFolder .fbFolderItem:hover {
    background: url(images/folder_orange_small.png) no-repeat #CDE6ED;
    cursor: pointer;
}

#fbColFolder .fbFolderItem A {
    text-decoration: none;
}

#fbColFolder .fbFolderUp {
    background: url(images/foldergoup.png) no-repeat;
    padding-left: 20px;
    margin-bottom: 5px;
}

#fbColFolder .fbFolderUp:hover {
    background: url(images/foldergoup.png) no-repeat #CDE6ED;
    cursor: pointer;
}

#fbColFolder .fbFolderUp A {
    text-decoration: none;
}

#fbColFiles {
    position: absolute;
    left: 161px;
    width: 580px;
    height: 448px;
    margin-left: 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 9px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 10px;
}


#fbColFiles .fbFileImage A {
    text-decoration: none;
}

#fbColFiles .fbFileImage img {
    border: 0px;
}

#fbColFiles .fbFileItem .fbFileItemFooter {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 20px;
    background: #CCC;
    text-align: left;
    color: #006;
    overflow: hidden;
    padding: 4px 0px 0px 3px;
}

#fbColFiles .fbFileItem .fbFileItemFooter a {
    color: #2F2F2F;
}
.fbIcoPdf {
    background: url(images/ico_pdf.png) no-repeat;
    height: 135px;
    border: 0px;
    background-position: 50%;
}

.fbIcoFile {
    background: url(images/ico_file.png) no-repeat;
    height: 135px;
    border: 0px;
    background-position: 50%;
}


#fbColFiles .fbFileItem .btnFileContainer{
    float:right;
}

#fbColFiles .fbFileItem .btnfile {
    font-size: 15px;
    margin-left:7px;
    cursor: pointer;
}

#fbColFiles .fbFileItem .btnRemove {
    color: #FF0000;
}

