@charset "UTF-8";

.tablelist-responsive .table-striped tbody tr.rowProgression:hover td{
    opacity: 0.7; !important;
    filter: alpha(opacity=70); !important;
    background-color: #E8E3E3; !important;


}

.table-striped tbody tr:nth-of-type(2n+1){
    background-color: rgba(0,0,0,.05);
}

.tablelist-responsive  tbody tr.rowGroupProgression {
    background-color: #BDB76B;
    font-weight: bold;
    text-align: center;
}

.tablelist-responsive  tbody tr.rowGroupProgression span:first-child{
    margin-right: 20px;
}