@charset "UTF-8";

/* Fonts */
.fontSize12 {
    font-size: 12px;
    line-height: 12px;
}

.fontSize14 {
    font-size: 14px;
    line-height: 14px;
}

.fontSize18 {
    font-size: 18px;
    line-height: 18px;
}

.fontSize24 {
    font-size: 24px;
    line-height: 24px;
}

.fontSize36 {
    font-size: 36px;
    line-height: 36px;
}

.fontSize48 {
    font-size: 48px;
    line-height: 37px;
}

.fontSize100 {
    font-size: 100px;
    line-height: 100px;
}

.fontSize150 {
    font-size: 150px;
    line-height: 130px;
}

/* Colors */
.white {
    color: white;
}

.green {
    color: green;
}

.red {
    color: red;
}

.grey {
    color: #c2c2c2;
}

.mainColor {
    color: #d1592b;
}

.mainColorBG {
    background-color: #d1592b;
}

/* Borders */
.solid {
    border: 1px solid;
}

.solidLeft {
    border-left: 1px solid;
}

.solidRight {
    border-right: 1px solid;
}

.solidTop {
    border-top: 1px solid;
}

.solidBottom {
    border-bottom: 1px solid;
}

/* Size */
.width600 {
    width: 600px;
}

.width500 {
    width: 500px;
}

.width400 {
    width: 400px;
}

.width310 {
    width: 310px;
}

.width300 {
    width: 300px;
}

.width250 {
    width: 250px;
}

.width240 {
    width: 240px;
}

.width200 {
    width: 200px;
}

.width190 {
    width: 190px;
}

.width150 {
    width: 150px;
}

.width140 {
    width: 140px;
}

.width100 {
    width: 100px;
}

.width90 {
    width: 90px;
}

.width75 {
    width: 75px;
}

.width50 {
    width: 50px;
}

.width40 {
    width: 40px;
}

.width30 {
    width: 30px;
}

.width20 {
    width: 20px;
}

.height600 {
    height: 600px;
}

.height500 {
    height: 500px;
}

.height300 {
    height: 300px;
}

.height150 {
    height: 150px;
}

.height200 {
    height: 200px;
}

.height150 {
    height: 150px;
}

.height100 {
    height: 100px;
}

.height75 {
    height: 75px;
}

.height50 {
    height: 50px;
}

.height40 {
    height: 40px;
}

.height30 {
    height: 30px;
}

.height20 {
    height: 20px;
}

/* margin */
.top5 {
    margin-top: 5px;
}

.top10 {
    margin-top: 10px;
}

.top20 {
    margin-top: 20px;
}

.bottom5 {
    margin-bottom: 5px;
}

.bottom10 {
    margin-bottom: 10px;
}

.bottom20 {
    margin-bottom: 20px;
}

.left5 {
    margin-left: 5px;
}

.left10 {
    margin-left: 10px;
}

.left20 {
    margin-left: 20px;
}

.right5 {
    margin-right: 5px;
}

.right10 {
    margin-right: 10px;
}

.right20 {
    margin-right: 20px;
}

.marginAuto {
    margin: auto;
}

.marginCenter {
    margin-left: auto;
    margin-right: auto;
}

/* general */
#pageContainer {
    min-height: 500px;
}

.hide {
    display: none !important;
}

.hidden {
    display: none;
}

/* Without Important */
.cpointer {
    cursor: pointer;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.topLeft {
    top: 0;
    left: 0;
}

.topRight {
    top: 0;
    right: 0;
}

.bottomLeft {
    bottom: 0;
    left: 0;
}

.bottomRight {
    bottom: 0;
    right: 0;
}

.inLine {
    display: inline;
}

.inLineBlock {
    display: inline-block;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.overflowHide {
    overflow: hidden;
}

/* Facebook */
.btnShareOnFB {
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    background: #3b589e url("../../images/icoFB.jpg");
    background-repeat: no-repeat no-repeat;
    background-origin: initial;
    background-position: 0 50%;
    border-color: #133783;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    padding: 9px 10px 10px 40px;
    text-shadow: 0 -1px 0 #8d8d8d;
    position: relative;
}

.btnShareOnFBHand {
    background-image: url("../../images/click40.png");
    background-repeat: no-repeat no-repeat;
    background-origin: initial;
    background-position: 0 0;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: -15px;
    right: 10px;
}

/* Button With Hand */
.btnWithHand {
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    padding: 9px 15px 10px 15px;
    position: relative;
}

.btnWithHand .handPointer {
    background-image: url("../../images/click40.png");
    background-repeat: no-repeat no-repeat;
    background-origin: initial;
    background-position: 0 0;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: -15px;
    right: 10px;
}

/* Button File */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


/* TOOLBAR BAR*/
#navbar-top{background: #0066a6;}
#navbar-top .nav-link{color:#FFFFFF;}
#navbar-top-sm #main-menu{background: #dcdcdc;}
#navbar-top-sm .nav-link{color:#0066a6;}

/* SIDE BAR*/
#sidebar-nav {background: #fff; border-right: 1px dashed #999; padding-left: 0px;}

/* SIDE BAR TOGGLABLE*/
#sidebar-nav-sx-toggler {
    background: #333 none repeat scroll 0 0;
    color: white;
    height: 60px;
    left: 0;
    padding: 18px 2px 0;
    position: fixed;
    top: 50%;
    width: 20px;
    z-index: 99999 !important;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#sidebar-nav-sx-toggler div {
    background: #333 none repeat scroll 0 0;
}

#sidebar-nav-sx {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 99999;
}

#sidebar-nav-sx .container-fluid {
    height: 100%;
}

#sidebar-nav-sx .row {
    height: 100%;
}

#sidebar-nav-sx .col1 {
    background: #333;
    height: 100%;
    margin-left: -1px;
}

#sidebar-nav-sx .col2 {
    height: 100%;
}

#sidebar-nav-sx .closeNav {
    position: absolute;
    top: 50% !important;
    left: 0;
    color: white;
    height: 60px;
    padding: 18px 2px 0;
    width: 20px;
    z-index: 99999 !important;
    cursor: pointer;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

#sidebar-nav-sx div {
    background: #333 none repeat scroll 0 0;
}

/* SIDEBAR BOTH */
.sidebar-nav {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.sidebar-nav-in {
    margin-left: 0px;
}

.sidebar-nav li {
    display: inline-block;
    line-height: 20px;
    position: relative;
    width: 100%;
}

.sidebar-nav li::before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: width 0.2s ease-in 0s;
    width: 3px;
    z-index: 1000;
}

.sidebar-nav li.colored:nth-child(2n+1)::before {
    background-color: #ead24c;
}

.sidebar-nav li.colored:nth-child(2n+2)::before {
    background-color: #ec1b5a;
}

.sidebar-nav li.colored:nth-child(2n+3)::before {
    background-color: #79aefe;
}

.sidebar-nav li.colored:nth-child(2n+4)::before {
    background-color: #314190;
}

.sidebar-nav li.colored:nth-child(2n+5)::before {
    background-color: #279636;
}

.sidebar-nav li.colored:nth-child(2n+6)::before {
    background-color: #7d5d81;
}

.sidebar-nav li.colored:nth-child(2n+7)::before {
    background-color: #d1592b;
}

.sidebar-nav li.colored:nth-child(2n+8)::before {
    background-color: #2d2366;
}

.sidebar-nav li.colored:nth-child(2n+9)::before {
    background-color: #35acdf;
}

.sidebar-nav li:hover::before, .sidebar-nav li.open:hover::before {
    transition: width 0.2s ease-in 0s;
    width: 100%;
}

.sidebar-nav li a {
    color: #666;
    display: block;
    padding: 10px 0px 8px 20px;
    text-decoration: none;
    position: relative;
    z-index: 99999;
}

.sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {
    background-color: transparent;
    color: #666;
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    font-size: 20px;
    height: 65px;
    line-height: 44px;
}

.sidebar-nav .dropdown-menu {
    background-color: #222;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.sidebar-nav .active a {
    color: #fff;
}

.sidebar-nav .active::before {
    transition: width 0.2s ease-in 0s;
    width: 100%;
}

/* Table Responsive */
@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
    .no-more-tables table,
    .no-more-tables thead,
    .no-more-tables tbody,
    .no-more-tables th,
    .no-more-tables td,
    .no-more-tables tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .no-more-tables tr {
        border: 1px solid #ccc;
    }

    .no-more-tables td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }

    .no-more-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    .no-more-tables td:before {
        content: attr(data-title);
    }
}

.modal{z-index: 99999;}

/* Editing Web Site*/
#editingWebSite
{
    border: 1px solid #d4d4d4;
    background-color: #7a7a7a;
    border-radius: 0.25rem;
    font-size: 13px;
    color: white;
    height: 35px;
    padding: 0px;
    z-index: 999999;
    width: auto;
    margin-left: 20px;
}

#editingWebSite a{
    padding: 5px 10px 0 15px;
}

#editingWebSite .dropdown-menu{
    background-color: #ffffff;
    z-index: 999999;
}